/*General*/
h1{
    text-align: center;
    font-size: 300%;
    margin-top: 0;
    margin-bottom: 10px;
}

.sep-line{
    width: 500px;
    border: 3px solid #666;
    border-radius: 3px;
}

p{
    text-align: justify;
    font-size: 125%;
}

/*Navbar styling*/
.navbar{
    position: fixed; /*Make the navbar stick to the top of the page*/
    top: 0;
    background-color: black;
    overflow: hidden; /*to get background color*/
    width: 100%;
}

.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

.navbar li{
    float: left; /*to enable horizontal display*/
}

.navbar a{
    display: block;
    padding: 10px 15px;
    color: darkgrey;
    font-size: large;
    text-decoration: none;
}

.navbar a:hover{
    background-color: #666;
    color: darkgrey;
}

/*Main page */
.main_page{
    background-color: #666;
}

/*About section styling*/
.about{
    width: 70%;
    margin: auto; /*for horizontal alignment of the container*/
    background-color: #999;
    padding: 50px 10px;
}

.about img{
    float: right;
    height: 250px;
    width: 250px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 50%;
}

.about #skills{
    margin-bottom: 0px;
}

.about ul{
    margin: 0;
    font-size: 125%;
}

/*Portfolio section styling*/
.portfolio{
    width: 70%;
    margin: auto; /*for horizontal alignment of the container*/
    background-color: #ccc;    
    padding: 50px 10px;
}

.center-cont{
    margin: auto;
    display: block;
}

/*Contact section styling*/
.contact{
    width: 70%;
    margin: auto; /*for horizontal alignment of the container*/
    background-color: #999;    
    padding: 50px 10px;
}

.contact button{
    padding: 20px 35px;
    margin-top: 30px;
    background-color: black;
    color: white;
    border: none;
}